:root {
    --bg: #eeebf6;
    --text: #19233c;
    --text-light: #898e9c;
    --primary: #03a8f4;
    --secondary: #e91e62;
    --gradient: linear-gradient(to right, var(--primary), var(--secondary));
    --border-color: #eaedf3;
    --border-color-lighter: #eff2f6;
    --border-color-darker: #d8dce6;
}

body {
    --bg-color: #fafafa;
    --fg-color: #1f2023;
}

body.dark {
    --bg-color: #1f2023;
    --fg-color: #efefef;
}
