:root {
    --primary: #03a8f4;
    --primary-transparent: #03a8f480;
    --secondary: #e91e62;
    --secondary-transparent: #e91e6280;
    --gradient: linear-gradient(to right, var(--primary), var(--secondary));

    --bg-color: #fafafa;
    --bg-sec-color: #d5d5d5;
    --fg-color: #1f2023;
    --fg-sec-color: #171717;
    --border-color: #eaedf3;

    --navigation-height: 70px;
    --footer-height: 100px;
    --footer-color: #e1e1e1;
}

.dark {
    --bg-sec-color: #222222;
    --bg-color: #171717;
    --fg-color: #ffffff;
    --fg-sec-color: #dddddd;
    --border-color: #484848;
    --footer-color: #080808;
}
