.splitz-spinner {
    display: flex;
}

.inline {
    display: inline;
}

.inline .splitz-spinner {
    display: inline;
    padding-left: 10px;
}

.splitz-spinner img {
    height: 40px;
    animation: rotation 3s infinite ease-in-out;
    margin: 15px auto;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    5% {
        transform: rotate(-20deg);
    }
    45% {
        transform: rotate(200deg);
    }
    55% {
        transform: rotate(160deg);
    }
    95% {
        transform: rotate(380deg);
    }
    100% {
        transform: rotate(359deg);
    }
}
