.banner {
    background-color: var(--secondary-transparent);
    font-size: 1.1rem;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    max-width: 100% !important;
    height: 40px;
}

.banner svg {
    color: var(--secondary);
    margin-right: 5px;
}
