.splitz-tooltip {
    display: inline;
    margin-left: 5px;
}

.splitz-tooltip svg {
    font-size: 1.3rem;
}

.question-tooltip svg {
    color: var(--primary);
}

.exclamation-tooltip svg {
    color: var(--secondary);
}

.splitz-tooltip-message {
    display: inline !important;
    color: #ffffff !important;
}
