.page-not-found {
    font-family: "Press Start 2P", cursive;
    margin: auto;
    text-align: center;
}
.page-not-found .code-error {
    font-size: 14rem;
    text-shadow: 8px 6px 0 var(--secondary), 16px 12px 0 var(--primary);
}

.page-not-found .error-message {
    font-size: 3rem;
}
